body {
  font-family: Helvetica;
  background-color: #D7EDF0;
}

#root {
  height: 100vh;
  padding: 20px;
}

.flex {
  display: flex;
}

.left-side {
  width: 60%;
  padding: 10px;


  .gif-container {
    background-color: #D8D8D8;
    height: 75vh;
    border-radius: 20px;

    .gif {
      width: 50%;
      border-radius: 20px;
      height: auto;
      margin-left: 25%;
      margin-top: 10%;
    }
  }

  .search-bar {
    padding: 60px 60px 60px 120px;
    font-size: 2.6em;
    border: none;
    color: #B2B2B2;
    box-shadow: none;
    background-color: #D7EDF0;
  }

  &:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 2.6em;
    padding-left: 1.3em;
    padding-top: 1.5em;
    position: absolute;
    top: 10px;
    color: #B2B2B2;
  }
}

.right-side {
  width: 40%;
  padding: 10px;

  .gif-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

    img {
      border-radius: 20px;
      width: 100%;
      height: auto;
    }
  }
}
